infra/multi-vms/.terraform.lock.hcl
infra/multi-vms/terraform.tfstate
infra/multi-vms/terraform.tfstate.backup
infra/multi-vms/.terraform
infra/multi-vms/tfplan

infra/single-vm/.terraform.lock.hcl
infra/single-vm/terraform.tfstate
infra/single-vm/terraform.tfstate.backup
infra/single-vm/.terraform
infra/single-vm/tfplan
